html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  background-image: url(../images/darkGrid.png);
  background-attachment: fixed;
  background-position: center;
  background-size: repeat;
}

.orange {
  color: #d05353;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.986);
  height: 10vh;
}

.large {
  font-size: 3rem;
}

.linksContainer {
  width: 100%;
}

.pageLink {
  margin-left: 1%;
}

/* Title Formatting
============================================================== */
  
  .title {
    font-size: 5rem;
  }

  .titleContainer {
    height: 100vh;
    padding: 0 0 0 0;
  }

  .titleWrapper {
    background-image: url(../images/lightScratch.png);
    margin: 15% 0 0 0;
    padding: 5% 0px; /* Added a percentage value for top/bottom padding to keep the wrapper inside of the parent */
    
    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    transform: skewY(-5deg);
    border-color: #d05353;
  }
  
  .titleWrapper > .wrapper {
    -webkit-transform: skewY(5deg);
    -moz-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    -o-transform: skewY(5deg);
    transform: skewY(5deg);
  }

  .signup {
    margin-left: 65%;
  }

  .nav-link {
    color: #d05353;
  }

  .nav-link:hover { 
    color: #b14848;
  }

  h1 {
    font-weight: bolder;
  }

/* Graph Formatting
============================================================== */
  .graphContainer {
    background-image: url(../images/lightScratch.png);
    height: 100vh;
    background-size: repeat;
    opacity: .9;
    padding: 1% 5% 5% 5%;
  }

  .searchRow {
    width: 30%;
    margin: 1% auto 0 auto;
  }

  .widget {
    height: 80vh;
  }

  .btn {
    background-color: #d05353;
    border-color: #b14848;
  }

  .btn:hover {
    background-color: #b14848;
    border-color: #a34242;
  }

/* News Formatting
============================================================== */
  .newsContainer {
    height: 100vh;
  }

  .news {
    background-image: url(../images/orangeTiles.png);
    height: 80vh;
    border-radius: 10px 0 0 10px;
  }

  .savedNews {
    background-image: url(../images/darkOrangeTiles.png);
    height: 80vh;
    border-radius: 0 10px 10px 0;
  }

  .newsRow {
    margin: 4% auto 0 auto;
    width: 90%;
    color: #ece2d0;
  }

  .newsWrapper {
    background-image: url(../images/lightScratch.png);
    height: 85%;
    padding: 0 1% 1% 1%;
    overflow: scroll;
  }

  .savedNewsWrapper {
    background-image: url(../images/lightScratch.png);
    height: 85%;
    padding: 1% 2% 2% 2%;
    overflow: scroll;
  }

  .article {
    height: 80px;
    background-color: white;
    color: #121723;
    padding-top: 1%;
    margin-top: 1%;
  }

  .savedArticle {
    height: 80px;
    background-color: white;
    color: #121723;
    padding-top: 1%;
    margin-top: 1%;
  }

/* Stats Formatting
============================================================== */
  .statsContainer {
    background-image: url(../images/lightScratch.png);
    height: 100vh;
    background-size: repeat;
    opacity: .9;
    padding: 2% 2% 2% 2%;
  }

  .table {
    color: #121723;
    background-color: #f2fffede;
    margin: 0 0 0 0;
/*     border-width: 1px;
    border-color: #121723;
    border-style: solid; */
  }

  .tableHead {
    background-color: #49aaa5;
  }

  table.table-bordered{
    border:1px solid #49aaa5;
    margin-top:20px;
  }
  table.table-bordered > thead > tr > th{
    border:1px solid #3c8d89;
  }
  table.table-bordered > tbody > tr > td{
    border:1px solid #49aaa5;
  }

/* 
==============================================================
==============================================================
==============================================================
============================PAGE 2============================
==============================================================
==============================================================
============================================================== */

/* Form Formatting
============================================================== */

.formContainer {
  height: 80vh;
  margin-top: 8%;
}

.formRow {
  margin: 10% auto 0 auto;
  color: #ece2d0;
}

.form {
  height: 70vh;
  background-image: url(../images/lightScratch.png);
  color: #121723;
  padding-top: 1%;
  margin-top: 1%;
  border-width: 1px;
  border-style: solid;
  border-color: #121723;
  border-radius:10px;
  padding: 5px;
}












/* Positions Formatting
============================================================== */

.positionsContainer {
  height: 80vh;
  margin-top: 5%;
  border-radius: 10px;
}

.positions {
  background-image: url(../images/orangeTiles.png);
  height: 80vh;
  border-radius: 10px;
}

.positionsRow {
  margin: 4% auto 0 auto;
  width: 95%;
  color: #ece2d0;
}

.positionsWrapper {
  background-image: url(../images/lightScratch.png);
  height: 85%;
  padding: 0 4% 1% 4%;
  overflow: scroll;
}

.position {
  height: 31vh;
  background-color: white;
  color: #121723;
  padding-top: 1%;
  margin-top: 1%;
  border-width: 1px;
  border-style: solid;
  border-color: #a09a8d;
  border-radius:10px;
  padding: 5px;
}














.watchlistHead {
  display: inline-block;
}

.watchlistAdd {
  display: inline-block;
  margin: .3% 0 0 5%;
}

.watchlistHeadRow {
  padding: 0 0 0 2%;
}






/* Watchlist Formatting
============================================================== */

.watchlistContainer {
  height: 100vh;
  margin-top: 2%;
}

.watchlist {
  background-image: url(../images/lightScratch.png);
  height: 80vh;
}

.watchlistRow {
  margin: 4% auto 0 auto;
  width: 95%;
  color: #ece2d0;
}

.watchlistWrapper {
  background-image: url(../images/lightScratch.png);
  height: 85%;
  padding: 0 4% 1% 4%;
  overflow: scroll;
}

.watchlist {
  height: 31vh;
  background-color: white;
  color: #121723;
  padding-top: 1%;
  margin-top: 1%;
  border-width: 1px;
  border-style: solid;
  border-color: #121723;
  border-radius:10px;
  padding: 5px;
}

.watchlistTable {
  color: #121723;
  background-color: #f2fffede;
  margin: 0 0 0 0;
}

.watchlistTableHead {
  background-color: #49aaa5;
}

table.table-bordered{
  border:1px solid #49aaa5;
  margin-top:20px;
}
table.table-bordered > thead > tr > th{
  border:1px solid #3c8d89;
}
table.table-bordered > tbody > tr > td{
  border:1px solid #49aaa5;
}